S3method(logLik,mlm)
export(Brier)
export(FNC)
export(FPC)
export(Hosmer)
export(Hosmer2)
export(NagR2)
export(Ncon)
export(Nrel)
export(ROCdat)
export(TNC)
export(TPC)
export(W)
export(WilcoxHand)
export(Ycutoff)
export(auc)
export(aucHmisc)
export(aucPROC)
export(aucRLoop)
export(aucROCR)
export(aucRank)
export(aucRapply)
export(aucWilcox)
export(binomLL)
export(cInt)
export(cLarge)
export(cSlope)
export(dSlope)
export(meanPearson)
export(netben)
export(oisse)
export(sens)
export(spearman.ci)
export(spec)
export(toLatexMat)
export(tstat)
import(Hmisc)
import(ROCR)
import(mvtnorm)
import(pROC)
import(plyr)
